/* Common styles */
* {
    margin: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

/* header styles starting */
header {
    padding: 10px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);

}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    max-width: 1440px;
}

.logo-container {
    width: 50%;
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-container img {
    width: 50px;
}

.logo-container p {
    text-align: center;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.g-color {
    color: #FF42A5;
}

.nav-items {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.nav-items a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.followus {
    padding: 10px 15px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
    text-align: center;
}

.followus .youtube {
    color: red;
    padding: 0px 5px;
}

.followus .tiktok {
    color: #08FFF9;
    padding-left: 5px;
}

/* header styles end */

/* Banner sections styles start */

.banner-section {
    background-image: url(/images/Group\ 14.png);
    background-repeat: no-repeat;
    background-position: left;
}


.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 300px;

}

.banner-title {
    color: #0B0223;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
    margin: 0px 0px 15px 0px;
}

.banner-head-title {
    font-size: 95px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: transparent;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    margin-bottom: 20px;
}

.banner-description {
    color: #534C64;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: lowercase;
    margin: 20px 0px;
}

.primary-button {
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px 10px;
    display: inline;
    padding: 21px 40px;
    gap: 10px;
    border: none;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
}

.button {
    color: #FFFFFF;
    font-size: 20px;
    margin: 10px 10px;
    padding: 21px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
}

.banner-image-container img {
    width: 70%;
}


/* Banner sections styles end */

/* online games styles start */

.online-container {
    margin: 120px 240px;
}

.online-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

}

.online-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.online-subtitle {
    font-size: 48px;
    color: transparent;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
}

.online-text {
    margin: 15px 0px 30px 0px;
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

/* online games styles end */

/* paly games styles start */
.play-section {
    margin: 100px auto;
    border: 1px solid green;
}

.playgames {
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 50px;
}

.online-text-section {
    padding-left: 240px;

}

.online-title {
    text-align: center;
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 60px;

}

.onilne-text {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 350px;
    height: 100px;
    margin: auto;
}

.second-play-image {
    position: relative;
    right: 750px;
}

/* paly games styles end */

/* button text section styles start */

.button-section {
    padding: 50px 240px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
}

.common-button {
    display: flex;
    align-items: center;
    gap: 10px;
}

.common-buttonsection {
    display: flex;
    justify-content: space-evenly;

}

.common-buttonsection-two {
    margin: 70px;
    display: flex;
    justify-content: space-evenly;
}

/* button text section styles end */


/* footer styles start */


footer {
    background: #0B0223;
    padding: 100px 0px;
}

.footer-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title {
    color: #FFFFFF;
    font-size: 50px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}



.footer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 50px 0px;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.footer-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 50px 0px 20px 0px;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



/* Responsive for mobile and tabler */

  /* For mobile version */
  @media screen and (max-width:425px) {

    .nav-container,
    .nav-items,
    .online-image,
    .footer-logo,
    .footer-text,
    .footer-icon
    {
        flex-direction: column;
        padding: 20px;
    }

    .banner {
        flex-direction: column;
        gap: 0px;
    }

    .banner-image-container img {
        width: 100%;
        gap: 0px;
    }

    .followus,
    .banner-image {
        width: 100%;
    }

    .banner-text {
        padding: 20px 0px;
    }

    .banner-title {
        color: #0B0223;
        font-size: 25px;
    }

    .banner-head-title {
        font-size: 55px;
    }

    .banner-description {
        font-size: 15px;
    }

    .primary-button {

        font-size: 15px;
        display: inline;
        padding: 10px 20px;
        gap: 10px;
    }

    .button {
        font-size: 15px;
        padding: 10px 20px;
    }

    .online-container {
        margin: 50px 0px;
    }
    .online-text {
        margin: 10px 0px 10px 50px;
        color: #534C64;
        text-align: center;
        font-size: 18px;

    }

    .play-section {
        margin: 10px;
    }
    .online-text-section {
        padding-left: 0px;
    
    }
    .playgames{
        flex-direction: column;
    
    }
    .play-images img{
        width: 100%;
    }
    .second-play-image {
        position: fixed;
    }
    .button-section {
        padding: 20px 20px;
    .common-buttonsection,
    .common-buttonsection-two {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
      
    }
    .common-buttonsection-two {
        margin: 20px 0px;

    }

}


/* For tablet version */

@media screen and (min-width:426px) and (max-width:770px) {

    .nav-container,
    .nav-items,
    .online-image,
    .footer-logo,
    .footer-text,
    .footer-icon
     {
        flex-direction: column;
        padding: 10px;
    }
    .banner {
        flex-direction: column;
        gap: 0px;
    }

    .banner-image-container img {
        width: 100%;
        gap: 0px;
    }

    .followus,
    .banner-image {
        width: 100%;
    }

    .banner-text {
        padding: 20px 0px;
    }

    .banner-title {
        color: #0B0223;
        font-size: 25px;
    }

    .banner-head-title {
        font-size: 55px;
    }

    .banner-description {
        font-size: 15px;
    }

    .primary-button {

        font-size: 15px;
        display: inline;
        padding: 10px 20px;
        gap: 10px;
    }

    .button {
        font-size: 15px;
        padding: 10px 20px;
    }

    .online-container {
        margin: 50px 0px;
    }
    .online-text {
        margin: 10px 0px 10px 50px;
        color: #534C64;
        text-align: center;
        font-size: 18px;

    }

    .play-section {
        margin: 10px;
    }
    .online-text-section {
        padding-left: 0px;
    
    }
    .playgames{
        flex-direction: column;
        gap: 0px;
    
    }
    .play-images img{
        width: 100%;
    }
    .second-play-image {
        width: 80%;
        position: absolute;
    }
    .button-section {
        padding: 20px 20px;
    .common-buttonsection,
    .common-buttonsection-two {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
      
    }
    .common-buttonsection-two {
        margin: 20px 0px;

    }
 

    }